* {
    background: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('dinos.png');
}
.button {
    margin-top: none;
    margin-left: 1px;
    width: 100%;  
    background-color: #1f53c5;  
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    line-height: 20px;
}
.title {
    background-color: #1f53c5;
    margin-top: auto;
    margin-left: 1px;
    width: 1365px;
    height: 80px;
}